In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/WeatherPy_challenge.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Fall,Snow Fall
0,0,Atasu,KZ,2020-04-20 00:18:16,48.68,71.64,52.68,41,43,5.08,scattered clouds,0.00,0.0
1,1,Dolinsk,RU,2020-04-20 00:18:16,47.35,142.80,46.40,49,100,11.18,overcast clouds,0.00,0.0
2,2,Albany,US,2020-04-20 00:18:16,42.60,-73.97,57.00,47,90,4.00,light rain,0.22,0.0
3,3,Araceli,PH,2020-04-20 00:18:16,10.55,119.99,84.33,79,59,17.18,light rain,1.85,0.0
4,4,Tazovskiy,RU,2020-04-20 00:18:17,67.47,78.70,34.27,98,100,9.42,light rain,0.26,0.0
5,5,Hermanus,ZA,2020-04-20 00:18:17,-34.42,19.23,61.00,94,38,1.99,scattered clouds,0.00,0.0
6,6,Mataura,NZ,2020-04-20 00:14:53,-46.19,168.86,55.99,65,72,5.01,broken clouds,0.00,0.0
7,7,Tuktoyaktuk,CA,2020-04-20 00:18:19,69.45,-133.04,10.40,85,90,10.29,light snow,0.00,0.0
8,8,Manicore,BR,2020-04-20 00:18:19,-5.81,-61.30,80.60,88,75,4.70,thunderstorm,0.00,0.0
9,9,Mattru,SL,2020-04-20 00:18:19,7.62,-11.83,78.15,86,100,2.51,light rain,0.16,0.0

In [3]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
rain_fall = str(input (("Do you want it to be raining? (yes/no) ")))
snow_fall = str(input(("Do you want it to be snowing? (yes/no) ")))

Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [5]:
if rain_fall  == "no" and snow_fall  == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain Fall"] == 0) &
                                         (city_data_df["Snow Fall"] == 0)]
elif rain_fall == "yes" and snow_fall == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain Fall"] != 0) &
                                         (city_data_df["Snow Fall"] == 0)]
elif rain_fall == "no" and snow_fall == "yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain Fall"] == 0) &
                                         (city_data_df["Snow Fall"] != 0)]
else: 
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain Fall"] != 0) &
                                         (city_data_df["Snow Fall"] != 0)]

In [6]:
filtered_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Fall,Snow Fall
8,8,Manicore,BR,2020-04-20 00:18:19,-5.81,-61.30,80.60,88,75,4.70,thunderstorm,0.0,0.0
15,15,San Patricio,MX,2020-04-20 00:18:20,19.22,-104.70,75.20,78,5,23.04,clear sky,0.0,0.0
22,22,Salalah,OM,2020-04-20 00:18:22,17.02,54.09,82.40,69,40,5.82,scattered clouds,0.0,0.0
28,28,Tumpat,MY,2020-04-20 00:14:04,6.20,102.17,80.60,88,20,3.36,few clouds,0.0,0.0
29,29,Padang,ID,2020-04-20 00:18:26,-0.95,100.35,78.73,76,17,4.21,few clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,564,Ahuimanu,US,2020-04-20 00:21:08,21.44,-157.84,84.20,51,1,6.93,clear sky,0.0,0.0
569,569,Yarada,IN,2020-04-20 00:21:10,17.65,83.27,80.60,88,20,2.24,mist,0.0,0.0
570,570,Puerto Escondido,MX,2020-04-20 00:20:01,15.85,-97.07,84.20,83,5,5.82,clear sky,0.0,0.0
573,573,Anantapur,IN,2020-04-20 00:21:13,14.68,77.60,77.70,54,30,5.08,scattered clouds,0.0,0.0
574,574,Adrar,MR,2020-04-20 00:21:13,20.50,-10.07,75.76,18,0,6.55,clear sky,0.0,0.0

In [7]:
filtered_cities_df.count()

City_ID                136
City                   136
Country                136
Date                   136
Lat                    136
Lng                    136
Max Temp               136
Humidity               136
Cloudiness             136
Wind Speed             136
Current Description    136
Rain Fall              136
Snow Fall              136
dtype: int64

In [8]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Manicore,BR,80.60,thunderstorm,-5.81,-61.30,
15,San Patricio,MX,75.20,clear sky,19.22,-104.70,
22,Salalah,OM,82.40,scattered clouds,17.02,54.09,
28,Tumpat,MY,80.60,few clouds,6.20,102.17,
29,Padang,ID,78.73,few clouds,-0.95,100.35,
...,...,...,...,...,...,...,...
564,Ahuimanu,US,84.20,clear sky,21.44,-157.84,
569,Yarada,IN,80.60,mist,17.65,83.27,
570,Puerto Escondido,MX,84.20,clear sky,15.85,-97.07,
573,Anantapur,IN,77.70,scattered clouds,14.68,77.60,
574,Adrar,MR,75.76,clear sky,20.50,-10.07,

In [9]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [10]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found....skipping")

Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping

In [11]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Manicore,BR,80.60,thunderstorm,-5.81,-61.30,Pousada da wanda
15,San Patricio,MX,75.20,clear sky,19.22,-104.70,Hotel Cabo Blanco
22,Salalah,OM,82.40,scattered clouds,17.02,54.09,HAMDAN PLAZA HOTEL
28,Tumpat,MY,80.60,few clouds,6.20,102.17,"Senangin Resort , Pantai Sri Tujuh, Tumpat Kel..."
29,Padang,ID,78.73,few clouds,-0.95,100.35,Mercure Padang
...,...,...,...,...,...,...,...
564,Ahuimanu,US,84.20,clear sky,21.44,-157.84,Paradise Bay Resort
569,Yarada,IN,80.60,mist,17.65,83.27,"D-26/2, Dolphin Hill,"
570,Puerto Escondido,MX,84.20,clear sky,15.85,-97.07,Aldea del Bazar Hotel and Spa
573,Anantapur,IN,77.70,scattered clouds,14.68,77.60,Hotal
574,Adrar,MR,75.76,clear sky,20.50,-10.07,

In [13]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [16]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
current_weather = hotel_df["Current Description"]  
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file,index=False)